#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #919191;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu {
  width: 100vw;
  display: flex; /* Enable Flexbox */
  flex-direction: column;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
}

.menu .image-container {
  width: 90%;
  height: auto;
  display: flex; /* Arrange images side by side */
  justify-content: center; /* Horizontally center images */
  gap: 10px; /* Add space between images */
}
.image-container img {
  width: 100%; /* Image takes full width of the container */
  max-width: 33%; /* Limit each image to 33% of container width (3 images) */
  height: auto; /* Keep aspect ratio */
  object-fit: cover; /* Ensure the images fill the available space without distortion */
  border-radius: 5px; /* Optional rounded corners */
  margin: 0 10px; /* Add spacing between images */
}

ol {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
